@import '../../styles/var';

.loginFormContainer {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .loginForm {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: rgba(245, 245, 245, 0.5);
        border: 1px solid black;
        transition: 0.7s all;
        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 15px 0 black;
        }
        .loginLogoContainer {
            display: flex;
            justify-content: center;
            .loginLogo {
                max-width: 100px;
                max-height: 100px;
            }
        }
        .loginLabel {
            font-size: 30px;
            padding: 15px 0 0 0;
        }
        .loginSecuredInput {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0 0 0;
            .loginInput {
                font-size: 20px;
                background-color: unset;
                border-top: unset;
                border-left: unset;
                border-right: unset;
                border-bottom: 2px solid royalblue;
                transition: 0.7s all;
                &:focus {
                    border-bottom: 2px solid whitesmoke;
                }
            }
            .loginCheck {
                max-height: 25px;
            }
        }
        .loginSubmitContainer {
            display: flex;
            justify-content: center;
            padding: 20px 0 0 0;
            .loginSubmit {
                font-size: 20px;
                color: whitesmoke;
                padding: 5px 15px;
                cursor: pointer;
                border-radius: 4px;
                border: 2px solid transparent;
                background-color: royalblue;
                transition: 0.7s all;
                &:hover {
                    border: 2px solid whitesmoke;
                }
            }
        }
        .badCredentials {
            font-size: 15px;
            padding: 10px 0 0 0;
            text-align: center;
            font-weight: bold;
            color: $softRed;
        }
    }
}